body{
	margin: 0;
	background-color: whitesmoke;
}

.top-contain{
	width: 100%;
	float: left;
	background-color: black;

}

.logo{
	margin: auto;
	width: 1200px;
	overflow: hidden;
	padding: 20px;

	
}
.top-logo{
	width: 200px;
	float: left;
}
.top-logo img{
	height: 80px;

}

.top-adv{
	width: 1000px;
	float: left;


}
.top-adv img{
	height: 80px;
	float: right;
}

.nav{
	width: 100%;
	float: left;
	background-color: darkred;
}

.link{
	margin: auto;
	width: 1200px;
	overflow: hidden;
}
.link ul {
	list-style-type: none;
	margin: 0;
	padding:0;
}

.link ul li {
	float: left;
}

.link ul li a{
	display: block;
	font-size: 25px;
	color: white;
	padding: 20px;
    text-decoration: none;
}

.link ul li a:hover{
	
	color: white;
     background-color: red;
}
.container{
	width: 1200px;
	margin: auto;
	box-shadow: 2px 2px lightgray;
    overflow: hidden;	
    margin-bottom: 10px;
}
.box-slide{
    width: 900px;
    height: 450px;
    float: left;
    background-color: blue;
    margin-top: 15px;


}

.box-slide .inner-right{
	width: 450px;
	height: 225px;
	float: left;
    position: relative;
}
.box-slide .inner-right a img{
	width: 100%;
	height: 100%;

}

.inner-right .tittle{
	  width: 70px;
      min-height: 30px;
      top: 10px;
      left: 0;
      position: absolute;
     -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 75% 0);
      clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 75% 0);
     background: lightblue;
}
.inner-right .text{
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	background-color: black;
	opacity: 0.7;
}
.inner-right .text h1{
	margin: 0;
	padding: 0;
	color: white;
	font-size: 18px;
}

.inner-right .text h1:hover{
	
	color: red;
	font-size: 18px;


}
.inner-right .text p{
	margin: 3px;
	padding: 0;
	color: white;
	font-size: 18px;
}



.left-box{
	width: 300px;
	height: 450px;
	overflow: hidden;
	float: left;
	margin-top: 15px;
}

.left-box .inner-box{
	width: 100%;
	height: 225px;
	margin-left: 10px;
	margin-bottom: 10px;
	

}
.left-box .inner-box img{
width: 100%;
height: 100%;	

}

.body-under{
	width: 1200px;
	margin:auto;
	background-color: whitesmoke;
	margin-bottom: 80px;

}
.tittle-shape{
	margin-top: 20px;
	overflow: hidden;

}

.tittle-shape .box-tittle{
	width: 150px;
	height:50px;
	-webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 75% 0);
     clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 75% 0);
    
}
.box-tittle .link-under a{
	text-decoration: none;
}

.link-under a h1{
	font-size: 20px;
	color: white;
	padding: 10px;
	text-align: center;
}

.video-body{
	width: 1200px;
	overflow: hidden;
	background-color: white;
	box-shadow: 2px 2px gray; 
}
.video-body .top-video{
	width: 1170px;
	margin: 0 35px;
	float: left;
}
.top-video .top-con{
	width: 370px;
	padding: 10px 3px;
	margin-top: 20px;
	float: left;

}
.video-img img{
	width: 100%;
	height: 200px;
}

.video-text{
	height: 50px;
	width: 100%;

}

.video-text h1{
 margin: 0;
 padding: 0;
 font-size:18px;
 color: black;
}

.video-body .under-video{
	width: 830px;
	float: left;
	margin: 0 20px;


}
.under-video .control-right{
	width: 100%;
 
}
 .control-right .under-right {
	width: 175px;
	padding: 0 15px;
	float: left;
	height: 150px;
}

.under-right .under-img{
	width: 100%;
	height: 100px;
	background-image: url("src/charge.png");
	background-size: cover;
}
.under-right .under-text{
	width: 100%;
	overflow:hidden;
	height: 50px;
}
.under-right .under-text p{
	margin: 0;
	padding:0;
	font-size: 15px;
	
}

.under-left{
	width: 290px;
	float: left;
	height: 55px;
	margin-bottom: 10px;
}

.under-left img {
	width: 100%;
	height: 100%;
}
.komsan{
	width: 1200px;
	box-shadow: 2px 2px gray;
	background-color: white;
	overflow: hidden;
}

.komsan-right{
	width: 380px;
	float: left;	
	margin: 25px 0;
	margin-left: 35px;
}
.komsan-right .pic-right{
	width: 100%;
	height: 280px;
	background-image: url("src/a1.jpg");
	background-size: cover;
}
.komsan-right .pic-tittle{
	width: 100%;
	height: 100px;

}
.pic-tittle h1{
	margin: 0 15px;
	padding:10px;
	font-size: 20px;
	color: white;

}
.komsan-left{
	width: 730px;
	float: left;
	margin-top: 25px;
	margin-bottom: 15px;
	margin-left: 20px;
}
.komsan-left .komsan-left-top{
	width: 170px;
	height: 190px;
	float: left;
	overflow: hidden;
	padding-left: 12px;
}
.komsan-left-top .pic-left-top {
	width: 100%;
	height: 130px;
	background-image: url("src/a1.jpg");
	background-size: cover;
}

.tittle-left-top{
	width: 100%;
	height: 60px;
}
.tittle-left-top p{
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.footer-con{
	width: 1200px;
	margin: auto;
	overflow: hidden;
	
}

.footer{
	width: 380px;
 	height: 300px;
 	float: left;

}
.footer-box1 {
	margin-top: 30px;
	width: 150px;
	float: left;
	
}

.img-footer img{
	width: 100%;
	height: 100%;
}
.box1-tittle{
	width: 300px;
	height: 100px;
	padding: 10px 0;
}
.box1-tittle .small{
	color: lightgray;
	padding:5px 0;
	margin: 5px 0px;
	font-size: 15px;
}


.footer-box2{
	margin-top: 35px;
	width: 380px;
	float: left;
	margin-left: 85px;
}
.box1-tittle-1{
	margin-left: 15px;
}
 .small{
	color: lightgray;
	padding: 0;
	margin: 0;
	font-size: 18px;
}
.box1-tittle-1 h1{
	padding: 0;
	margin-top: 0;
	margin-bottom: 15px;
	color: white;
	font-size: 25px;
}
.box1-tittle-1 a{
	text-decoration: none;
	color: white;
}

.footer-link{
	width: 100%;
	height: 60px;
	float: left;
	margin-left: 84px;
	padding-top: 10px;
}
.footer-link ul{
	list-style-type: none;

	margin: 0;
	padding: 0;
}
.footer-link ul li{
	float: left;
}
.footer-link ul li a {
	text-decoration: none;
}
.footer-link ul li a img{
	width: 40px;
	height: 40px;	
	padding-left: 15px;
}
